<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lvtn_babershop">

    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="BookingBaberShop"
        android:roundIcon="@mipmap/daidien"
        android:supportsRtl="true"
        android:theme="@style/Theme.LVTN_BaberShop">
        <activity android:name=".Activity.BookingActivity"></activity>
        <activity android:name=".Activity.CustomerVerifyPhone" />
        <activity android:name=".Activity.CustomerPhone" />
        <activity android:name=".Activity.CustomerRegistration" />
        <activity android:name=".Activity.MainMenu" />
        <activity android:name=".Activity.CustomerSendOTP" />
        <activity android:name=".Activity.StaffVerifyPhone" />
        <activity android:name=".Activity.StaffRegistration" />
        <activity android:name=".Activity.StaffPhone" />
        <activity android:name=".Activity.CustomerLogin" />
        <activity android:name=".Activity.HomeActivity" />
        <activity android:name=".Activity.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>