<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.lvtn_babershop">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label=""
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.LVTN_BaberShop">
        <activity android:name=".Service.BookingActivity"></activity>
        <activity android:name=".Service.CustomerVerifyPhone" />
        <activity android:name=".Service.CustomerPhone" />
        <activity android:name=".Service.CustomerRegistration" />
        <activity android:name=".Service.MainMenu" />
        <activity android:name=".Service.StaffSendOTP" />
        <activity android:name=".Service.StaffForgotPassword" />
        <activity android:name=".Service.StaffVerifyPhone" />
        <activity android:name=".Service.Login" />
        <activity android:name=".Service.StaffRegistration" />
        <activity android:name=".Service.StaffPhone" />
        <activity android:name=".Service.StaffLogin" />
        <activity android:name=".Service.ChooseOne" />
        <activity android:name=".Service.HomeActivity" />
        <activity android:name=".Service.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>